
/******************************************** header********************************************/
header#menuTop {
    z-index: 10000000;
    }

.btOn {

   margin-top: 25px;
    margin-right: 3.5%;
    }

.connexButton
{
    width: 80%;
}

 .logo {
    width: 270px;
    margin-left: -135px;
    margin-top: 20px;
    height: 170px;
 }

/***********************menu admin**********************************************************************/
     nav ul#navAdmin li{
        width: 10%;
        list-style-type: none;


    }
    nav ul#navAdmin li a{
        font-size: 16px;
        display:block;

    }
    ul#navAdmin li ul {
      position: relative;
      display: none;
      opacity: 0;
      background-color:#2c4271

    }
    ul#navAdmin li:hover ul {
      display:block;
      opacity: 1;
      transition:opacity 1000ms 1000ms;

      
        }
  ul#navAdmin li:hover ul li {
  float:none;
  text-align: left;
  width: 100%;
  padding: 7px;
 
     
  }
   ul#navAdmin li:hover ul li a:hover {
    color: grey;  
  }

  ul#navAdmin li:hover ul li a {
  font-size: 13px;
  color: #fff;
  height: 20px;
  }
 

  ul#navAdmin > li > ul {
    
       position:absolute;
    }
 
       ul#navAdmin > li:nth-child(2){
          margin-right: 5%;
          margin-left: 5%;

    }
      ul#navAdmin > li:nth-child(3){
      margin-right: 10%;
      margin-left: 0px;

    }
     
     ul#navAdmin > li:nth-child(4){
      margin-left:10%;
      margin-right: 5%;

    }
     ul#navAdmin > li:nth-child(5){
      margin-right: 5%;

    }
    #btnAdmin {

   margin-top: 25px;
    margin-right: 1%;
    }
/************************************MenuOFFgrand*****************************************************************/
nav {
        position: absolute;
        top: 70px;
        width: 100%;
    }

   /* nav ul {
        bottom: 10px;
    }*/

     nav li{
    float: left;
    list-style-type: none;
    width: 20%;

    
    }
   
   
    nav li a {
        margin-top: 2%;
        color: #046380 ;
        font-size: 18px;
        font-family: book;
        letter-spacing: 2px;
        text-decoration: none;
         height: 40px;

    }
    nav li a:hover {
        text-decoration: none;
        color:#183152 ;
        transition:400ms;
    }
    

    nav li:nth-child(2) {
    margin-right: 10%;
    }

    nav > ul > li:nth-child(3) {
    margin-left:10%;
    }

   

    /*button deconnexion*/
 .btn {
  background: #49c0eb;
  background-image: -webkit-linear-gradient(top, #49c0eb, #020d45);
  background-image: -moz-linear-gradient(top, #49c0eb, #020d45);
  background-image: -ms-linear-gradient(top, #49c0eb, #020d45);
  background-image: -o-linear-gradient(top, #49c0eb, #020d45);
  background-image: linear-gradient(to bottom, #49c0eb, #020d45);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  margin-right: 5%;
  margin-top: 25px;
  font-size: 14px;
  padding: 5px 25px 5px 25px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#userProfil{
    margin-top: 25px;
    margin-left: 1%;
    font-size: 20px;



}
#userProfil img{
    width : 32px; 
   height :32px; 
  
}


/******************************************** Inscription ********************************************/

.formInscrip{
    margin-top: 5%;
    width :60%;
    margin-left: 20%;
    margin-right: 20%;
}
.formInscrip p ,.formInscrip h1{
text-align: center;

}
.formInscrip label{
width: 20%;


}
.formInscrip input{

width: 75%;

}

.formInscrip button{
width: 150px;

margin-left: -75px;
position: absolute;
left: 50%;

  padding: 5px 25px 5px 25px;

}

#genre input{
    width: 10%;
    margin : auto;
}



#messageDouleur textarea{

width: 75%;
}

/******************************************** login ********************************************/

/* fenetre login  */
.login-popup {
    width: 350px;
    height: 350px;
}

form.signin .textbox input {

    width: 250px;
    height: 40px;
}

.button {  
    width: 250px;
    height: 40px;
}

 /**************************************MAP************************************************************/
 /* gerer la taille de la MAP*/
 #googleMap{
    height: 380px;
    width: 80%;

 }
 /********************************************yogaInfo *******************************************/

#yoga div h1, #naturopathie div
h1{

    font-size: 30px;

}
.textYoga p ,.textNaturo p {
    font-size: 22px;
}

    #yoga{
         margin-top: 7%;
   
        height: 350px;
      
    } 

    #naturopathie{

        height: 300px;
    } 


.yogaImage{

width: 35%;
float: left;
 margin-left: 5%;

}
.textYoga{
    float: right;
    width: 50%;
    margin-right: 5%;
}
.naturoImage{
    width: 35%;
    float: left;
     margin-left: 5%;
}
.textNaturo{
    float: right;
    width: 50%;
    margin-right: 5%;
}
#tableTarifYoga{
    float: left;
    width: 30%;
    margin-left: 5%;
    margin-bottom: 10px;
   
}

#tableTarifNaturo
{
float : right;
  width: 40%;
  margin-right: 5%;
  margin-bottom: 10px;
}
th {
   
   font-size: 30px;

}
 td {
 
    font-size: 22px;

}
/****************bar de recherche**********************************************************/
#barRecherche{
    width: 420px;
    font-family: book;
    font-size: 18px;
    font-weight: bold;
    margin-top: 7%;
    margin-left: 35%;
}
#nom{
    width: 290px;
    height: 35px;
}
.adherent_preview {
    padding: 10px;
    background-color: rgb(245, 245, 245);
}
.adherent_preview:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
#selectionner{
    width: 120px;
    height: 35px;
}
#output{
    width:290px;
    margin-left: 35%;
    font-size: 18px;
}
/**********************************fiche adherent*************************************************************************/
 

 #ficheAdherent{
    margin-left: 5%;
    width: 30%;
    margin-top: 2%;
    float: left;
}
.fiche label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 16px;
}
.titre{
    text-align: center;
    font-size: 30px;
}
#abonnement{
    float: right;
    margin-right: 5%;
    width:30%;
    margin-top: 2%
}
#modifSaved{
    margin-left: 28%;
    font-size: 26px;
    color: #2c4271;

}
