    * {margin: 0; padding: 0;}


    @font-face { 
  font-family: 'book'; 
  src: url('../fontBook/Uni-Sans-Book.otf'); 
    }

    body {
    background: white;
    font-family: book;
    width: 100%;
    }


/* header*/
 header#menuTop {
    width: 100%;
    height: 120px; /* 120px */
    margin: 0 auto;
    text-align: center;
    position: fixed;
    background-color: white;
    border-bottom: 10px  #2c4271 solid;
    }

          header p {
        float: right;
    }
 #userProfil{
 
    float: left;
    padding-bottom: 0px;
    color: #046380 ;
    font-family: book;
    font-weight: bold;

}

#userProfil img{
  vertical-align:bottom;
  }

 
 /****************************************************************************************/

section#content {
    overflow: hidden;
}

div#mainContainer {
    position: relative;
    top: 120px;

}

  
  

     .logo {
  background: url(../images/logo.png) 40% 0 no-repeat;

    background-size:100% 100% ;/*220px 180px */
    position: absolute;
    left: 50%;


    }

  /* article*/

      #carousel {
        width: 100%;
        background: white;
        padding-top: 0px;
        background-size: cover ;   }
  
  .carousel-inner > .item > img,
                  .carousel-inner > .item > a > img {
                      width: 100%;
                     
                    }
/*******************************************Pour COntact *******************************************/


    #planAccessSection
    { 
        margin-top: 5%;
        float : left ;
        width: 45% !important;
        margin-right: 2%;
      text-align: center;


    }
  #contactSection{

        margin-top: 5%;
        font-family: book;
        width: 45% !important;
        font-size: 16px;
      margin-right: 6%;
        margin-left: 2%;
        float: left;
        background-color: white !important;
        border-style: none;
 
    }

#googleMap{

    margin-bottom: 1% !important;
    margin : auto;
 
}
#contactSection{

 text-align: center;

}


#adress
{
    color: #db0266;
}
#contactSection h1{
    font-weight: bold;
}
/********************************************yogaInfo *******************************************/

#yoga div h1, #naturopathie div
h1{

    text-align: left;
    font-weight: bold;
   color: #337ab7;
   margin-top: 0px;
}
.textYoga p ,.textNaturo p {
    text-align: left;
}

    #yoga{
        width: 100%;
       
    } 

    #naturopathie{

        padding-bottom: 2%;
        width: 100%;    
        margin-top: 10px;
    } 

th {
   text-align: center;
   color: #337ab7;
   padding: 5px;
}
 td {
    padding: 5px;
}


   

    @keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1;}
    }
  

   

        #myCarousel{
            width: 100%;
           /* margin-top: -40px; */

         
        }
    

footer#mainFooter {
    height: 200px;
    width: 100%;
    background: #fff;

}

/******************************************** Inscription ********************************************/
.formInscrip{

    font-size: 14px;
    font-family: book;


}
#contenuInLab{
margin-right: 4%;
margin-left: auto;

}

.formInscrip label{

text-align: right;
color:#046380;
margin-right: 5px;

}
.formInscrip input{
height : 30px;
}

.formInscrip button{
    background: #49c0eb;
  background-image: -webkit-linear-gradient(top, #49c0eb, #020d45);
  background-image: -moz-linear-gradient(top, #49c0eb, #020d45);
  background-image: -ms-linear-gradient(top, #49c0eb, #020d45);
  background-image: -o-linear-gradient(top, #49c0eb, #020d45);
  background-image: linear-gradient(to bottom, #49c0eb, #020d45);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#genre input{
    width: 10%;
    margin : auto;
    height: 15px;
}

#messageDouleur label{

vertical-align: top;
}

#messageDouleur textarea{

width: 50%;
}

#obliga {
   color : red;
}

#erreurInscription{
    margin-top: 10%;
    text-align: center;
}
/******************************************** login ********************************************/
/* ne sert a rien pour l'instant*//*
.btn-sign {
    width:900px;
    margin-bottom:20px;
    margin:0 auto;
    padding:20px;
    border-radius:5px;
    background: -moz-linear-gradient(center top, #00c6ff, #018eb6);
    background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#018eb6));
    background:  -o-linear-gradient(top, #00c6ff, #018eb6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#018eb6');
    text-align:center;
    font-size:36px;
    color:#fff;
    text-transform:uppercase;
}
 .post { margin: 0 auto; padding-bottom: 50px; float: left; width: 960px; }


*/

/* Mask for background, by default is not display */
#mask,#maskAjoutSeance,#maskAnnulSeance,#maskModifSeance {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
 
}

/*fenetre login */
.login-popup {
    display: none;
    background:#fff;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

img.btn_close {
    
    float: right;
    margin: -41px -39px 0 0;
}
fieldset {
    border: none;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;

}
.formSeance3 fieldset
{
    width: 90%;
    margin-right: 3%;
    margin-left: 3%;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #0c3559;
    font-size: 18px;
    font-family: arial;
    margin-bottom: 5px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #E0E0E0;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #111;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 250px;
    height: 40px;
}

form.signin input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
    color: #424242;
  
}
.button {
    background: #00E676;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #00E676;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;

}

.button:hover {
    background: #00C853;
}
label {
    margin-bottom: 20px;
}
.user {
    width: 40%;
}
/****************bar de recherche**********************************************************/
#barRecherche{
    width: 420px;
    font-family: book;
    font-size: 18px;
    font-weight: bold;
    margin-top: 7%;
    margin-left: 35%
}
#nom{
    width: 290px;
    height: 35px;
}
.adherent_preview {
    padding: 10px;
    background-color: rgb(245, 245, 245);
}
.adherent_preview:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
#selectionner{
    width: 120px;
    height: 35px;
}
#output{
    width:290px;
    margin-left: 35%;
    font-size: 18px;
}
/**********************************fiche adherent*************************************************************************/
 
.fiche{
    width: 100%;
    margin: auto;
}
 #ficheAdherent{
    margin-left: 5%;
    width: 30%;
    margin-top: 2%;
    float: left;
}
.fiche label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 16px;
}
.titre{
    text-align: center;
    font-size: 30px;
}
#abonnement{
    float: right;
    margin-right: 5%;
    width:50%;
    margin-top: 2%
}
#modifSaved{
    margin-left: 35%;
    font-size: 26px;
    color: #2c4271;

}

#btModif{
    margin-top: 0px;
}
.enteteCentre{
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;

}
.abonnement{
    margin-top: 10%;
    width: 100%;
    margin-left:0px;
}
#tableAbbo{
    width: 50%;
    margin-left:3%;
    float: left;

}
#tableAbbo input {
    font-size: 18px;

}
#tableAbbo th {
    font-size: 24px;
}
#creationAbo{
    width: 35%;
    float: right;
    margin-top: 6px;
    margin-right: 3%;
}
#creationTitre{
    font-size: 36px;
    font-weight: bold;
}
#creationAbo label {
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 10px;
}
#creationAbo button {
    margin-left: 30%;
    width: 40%;
}
#creationAbo #tarif1 {
    width: 30%;

}
#creationAbo #nbS {
    width: 30%;

}
#creationAbo #duree {
    width: 30%;

}

#creationAbo input {
    font-size: 18px;

}

#creationAbo select {
    width: 30%;
    font-weight: bold;
    font-size: 18px;

}
#btSupp{
    background: #F02D3A;
    margin-top: 0px;
}
#abo_supp{
    color: red;
     font-size:30px;

}
/***********************************Souscription*****************************************/
#abonnement1{
    width: 55%;
    float: right;
    margin-right: 10px;
    margin-top: 25px;
}
.th{
    font-size: 17px;
}
#trH:nth-child(even){
  background-color: #f2f2f2;
}
#trH td {
    font-size: 16px;
    text-align: center;
}


.enteteHistorique{
    font-size: 28px;
    text-align: center;
    font-weight: bold
}

/***********************ajouter abonnement********************************************/
.souscription-form{
    width: 400px;
    height: 520px;

}
#titreSouscription{
    text-align: center;
    color: #337ab7;

}
#titreSouscription label {
 font-size: 26px;
font-weight: bold;


}
#Buttonsouscription{
    width: 60%;
    margin-top: 20px;
    margin-left: 20%;

}
.textbox{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}
form.souscription-form .textbox div{
    height: 50px;
    
}

form.souscription-form .textbox div input, form.souscription-form .textbox div select {
    background: #E0E0E0;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #111;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
    height: 40px;
    float: right;
    margin-top: 10px;

}
form.souscription-form .textbox div label {
    text-align: right;
    float: left;


}
form.souscription-form input:-moz-placeholder , form.souscription-form select :-moz-placeholder{
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.souscription-form  input::-webkit-input-placeholder, form.souscription-form  select::-webkit-select-placeholder  {
    color: #424242;
  
}

.souscription-popup {
    display: none;
    background:#fff;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999999999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */
}

        /******************************************************Ajouter seance ****************************************************************/

.ajoutSeance-popup {
    display: none;
    background:#fff;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

#titreSeance{
    text-align: center;
    font-size: 22px;
    color: #337ab7;
    font-style: bold;
}



form.formSeance .textboxSeance label {
    display: block;
    padding-bottom: 7px;

}

form.formSeance .textboxSeance  span {
    display: block;
}

form.formSeance p, form.formSeance span {
    color: #0c3559;
    font-size: 18px;
    font-family: arial;
    margin-bottom: 5px;
    line-height: 18px;
}

form.formSeance .textboxSeance  input , form.formSeance .textboxSeance  select{
    background: #E0E0E0;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #111;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 250px;
    height: 40px;
    float: right;

 
}

form.formSeance input:-moz-placeholder , form.formSeance select :-moz-placeholder{
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.formSeance input::-webkit-input-placeholder, form.formSeance select::-webkit-select-placeholder  {
    color: #424242;
  
}


.buttonSubmit {
    background: #00E676;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #00E676;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;

}

    .ajoutButton{
    background: #49c0eb;
  background-image: -webkit-linear-gradient(top, #49c0eb, #020d45);
  background-image: -moz-linear-gradient(top, #49c0eb, #020d45);
  background-image: -ms-linear-gradient(top, #49c0eb, #020d45);
  background-image: -o-linear-gradient(top, #49c0eb, #020d45);
  background-image: linear-gradient(to bottom, #49c0eb, #020d45);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  border: solid #1f628d 0px;
  text-decoration: none;
  width: 135px;
  float:none;
  /*  margin-right: 40%;
  margin-left: 40%;*/
  margin-top: 10%;
    }
 
#ajoutSeance_error
{
    font-weight: bold;
    text-align: center;

}
   /******************************************************Annuler seance ****************************************************************/

   .annulSeance-popup {
    display: none;
    background:#fff;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

#titreSeanceAnnul{
    text-align: center;
    font-size: 22px;
    color: #337ab7;
    font-style: bold;
}



form.formSeance2 .textboxSeance2 label {
    display: block;
    padding-bottom: 15px;

}

form.formSeance2 .textboxSeance2  span {
    display: block;
}

form.formSeance2 p, form.formSeance2 span {
    color: #0c3559;
    font-size: 18px;
    font-family: arial;
    margin-bottom: 5px;
    line-height: 18px;
}

form.formSeance2 .textboxSeance2  input {
    background: #E0E0E0;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #111;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 300px;
    height: 40px;
 

 
}

form.formSeance2 input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.formSeance2 input::-webkit-input-placeholder {
    color: #424242;
  
}


.buttonSubmit2 {
    background: #F35E5E;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #F35E5E;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 0px;
    font: 12px;

}

    .annulButton{
    background: #BD2E2E;
  
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  border: solid #1f628d 0px;
  text-decoration: none;
  width: 140px;
    float:none;
    margin-left:140px;
 /* margin-right: 40%;
  margin-left: 40%;*/
 margin-top: -40px;
    }
   #buttonCalendrier a{
      color:  #ffffff;
    }


#buttonCalendrier{
margin-left: 10%;


}


#annulSeance_error, #annulSeance_error2{
    font-weight: bold;
}


/******************************************************Modifier seance ****************************************************************/
 .modifSeance-popup {
    display: none;
    background:#fff;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 55%;
    left: 50%;
    z-index: 99999999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

#titreSeanceModif{
    text-align: center;
    font-size: 22px;
    color: #337ab7;
    font-style: bold;
}



form.formSeance3 .textboxSeance3 label {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

form.formSeance3 .textboxSeance3  span {
    display: block;
}

form.formSeance3 p, form.formSeance3 span {
    color: #0c3559;
    font-size: 18px;
    font-family: arial;
    margin-bottom: 5px;
    line-height: 18px;
}

form.formSeance3 .textboxSeance3  input {
    background: #E0E0E0;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #111;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 150px;
    height: 35px;


}

form.formSeance3 input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.formSeance3 input::-webkit-input-placeholder {
    color: #424242;
  
}


.buttonSubmit3 {
    background: #F35E5E;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #F35E5E;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 5px;
    font: 12px;

}

    .modifButton{
    background: #BD2E2E;
  
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  border: solid #1f628d 0px;
  text-decoration: none;
  width: 140px;
    float:none;
    margin-left:290px;
 margin-top: -40px;
    }



#modifSeance_error, #modifSeance_error2{
    font-weight: bold;
}

.textboxSeance3 label{
    margin-bottom: 5px;
}

