
/******************************************** header********************************************/
header#menuTop {
    z-index: 10000000;
    }

header p {

   margin-top: 25px;
    margin-right: 3.5%;
    }

.connexButton
{
    width: 80%;
}

 .logo {
    width: 270px;
    margin-left: -135px;
    margin-top: 20px;
    height: 170px;
 }
 nav {
        position: absolute;
        bottom: 18px;
        width: 100%;
    }

    nav ul {
        bottom: 10px;
    }

     nav li{
    float: left;
    list-style-type: none;
    width: 20%;
    
    }
   
   
    nav li a {
        margin-top: 2%;
        color: #046380 ;
        font-size: 18px;
        font-family: book;
        letter-spacing: 2px;
        text-decoration: none;

    }
    nav li a:hover {
        text-decoration: none;
        color:#183152 ;
        transition:400ms;
    }
    

    nav li:nth-child(2) {
    margin-right: 10%;
    }

    nav li:nth-child(3) {
    margin-left:10%;
    }
 
/******************************************** login ********************************************/

/* fenetre login  */
.login-popup {
    width: 350px;
    height: 350px;
}

form.signin .textbox input {

    width: 250px;
    height: 40px;
}

.button {  
    width: 250px;
    height: 40px;
}

 /****************************************************************************************/