
/******************************************** header********************************************/
header#menuTop {
    z-index: 10000000;
    }

.btOn {

   margin-top: 25px;
    margin-right: 3.5%;
    }

.connexButton
{
    width: 80%;
}

 .logo {
    width: 270px;
    margin-left: -135px;
    margin-top: 20px;
    height: 170px;
 }

/***********************menu admin**********************************************************************/
     nav #navAdmin{
        width: 10%;
        list-style-type: none;

    }
    nav #navAdmin a{
        font-size: 16px;

    }
       #navAdmin:nth-child(2){
          margin-right: 5%;
          margin-left: 5%;

    }
      #navAdmin:nth-child(3){
      margin-right: 10%;
      margin-left: 0px;

    }
     
     #navAdmin:nth-child(4){
      margin-left:10%;
      margin-right: 5%;

    }
     #navAdmin:nth-child(5){
      margin-right: 5%;

    }
    #btnAdmin {

   margin-top: 25px;
    margin-right: 1%;
    }
/************************************MenuOFFgrand*****************************************************************/
nav {
        position: absolute;
        bottom: 18px;
        width: 100%;
    }

    nav ul {
        bottom: 10px;
    }

     nav li{
    float: left;
    list-style-type: none;
    width: 20%;
    
    }
   
   
    nav li a {
        margin-top: 2%;
        color: #046380 ;
        font-size: 18px;
        font-family: book;
        letter-spacing: 2px;
        text-decoration: none;

    }
    nav li a:hover {
        text-decoration: none;
        color:#183152 ;
        transition:400ms;
    }
    

    nav li:nth-child(2) {
    margin-right: 10%;
    }

    nav li:nth-child(3) {
    margin-left:10%;
    }

   

    /*button deconnexion*/
 .btn {
  background: #49c0eb;
  background-image: -webkit-linear-gradient(top, #49c0eb, #020d45);
  background-image: -moz-linear-gradient(top, #49c0eb, #020d45);
  background-image: -ms-linear-gradient(top, #49c0eb, #020d45);
  background-image: -o-linear-gradient(top, #49c0eb, #020d45);
  background-image: linear-gradient(to bottom, #49c0eb, #020d45);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  margin-right: 5%;
  margin-top: 25px;
  font-size: 14px;
  padding: 5px 25px 5px 25px;
  border: solid #1f628d 0px;
  text-decoration: none;
}
/******************************************** login ********************************************/

/* fenetre login  */
.login-popup {
    width: 350px;
    height: 350px;
}

form.signin .textbox input {

    width: 250px;
    height: 40px;
}

.button {  
    width: 250px;
    height: 40px;
}

 /**************************************MAP************************************************************/
 /* gerer la taille de la MAP*/
 #googleMap{
    height: 380px;
    width: 80%;

 }
 /********************************************yogaInfo *******************************************/

#yoga div h1, #naturopathie div
h1{

    font-size: 30px;

}
.textYoga p ,.textNaturo p {
    font-size: 22px;
}

    #yoga{
         margin-top: 7%;
   
        height: 350px;
      
    } 

    #naturopathie{

        height: 300px;
    } 


.yogaImage{

width: 35%;
float: left;
 margin-left: 5%;

}
.textYoga{
    float: right;
    width: 50%;
    margin-right: 5%;
}
.naturoImage{
    width: 35%;
    float: left;
     margin-left: 5%;
}
.textNaturo{
    float: right;
    width: 50%;
    margin-right: 5%;
}
#tableTarifYoga{
    float: left;
    width: 30%;
    margin-left: 5%;
    margin-bottom: 10px;
   
}

#tableTarifNaturo
{
float : right;
  width: 40%;
  margin-right: 5%;
  margin-bottom: 10px;
}
th {
   
   font-size: 30px;

}
 td {
 
    font-size: 22px;

}
