                   
a                   {text-decoration: none;}
a:visited           {text-decoration:none;}
a:hover             {text-decoration:none;}
a:active            {text-decoration:none;}

hr                  {COLOR:#80a0ff;}

.menu               {background-color: #0099FF;
					border-color: #000000;
					color: #FFFFFF;
					text-align: center;
					font-weight: bold;
					font: 22px Comic Sans MS}
                    
.titreGauche        {color:#0000FF;
                    text-align:left;
                    font: 18px Comic Sans MS}

.titreCentre        {color:#0000FF;
                    text-align:center;
                    font: 18px Comic Sans MS}
                    
.titreDroite        {color:#0000FF;
                    text-align:right;
                    font: 18px Comic Sans MS}

.titreCentreNoir    {text-align:center;
                    color:#0000FF;
                    font: 24px Comic Sans MS}
                    
.basDePage          {color:#0000FF;
                    text-align:center;
                    font: 20px Comic Sans MS;
                    vertical-align:bottom;}

.warning            {color:#FF0000;
                    text-align:center;
                    font-weight:bold;
                    font: 20px}
						
.confirmation       {color: #0000FF;
					text-align: center;
					font-weight: bold;
					font: 20px;}

.warningLeft        {color:#FF0000;
                    text-align:left;
                    font-weight:bold;
                    font: 20px}
						
.confirmationLeft   {color: #0000FF;
					text-align: left;
					font-weight: bold;
					font: 20px;}

img.tailleMenu      {width:180px; 
                    height:30px;
                    border:0;}

.entete           {text-align: left;
                    font-weight:bold;
                    font: 18px}
                    
.enteteCentre       {text-align: center;
                    font-weight:bold;
                    font: 18px}

textarea            {font: 13px Courrier;}


